.input__container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}

.input__label {
  font-size: 14px;
  text-transform: uppercase;
}

/* .input__container input {
  padding: 0.5rem;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 4px;
}

input:focus {
  background-clip: padding-box;
    outline: none;
    border-image: linear-gradient(45deg, var(--active-color-from), var(--active-color-to)) 1 1 round;
    border-radius: 50px;
  } */

.input__container input {
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid grey;
}

input:focus {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, var(--active-color-from), var(--active-color-to));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.input__error {
  background: var(--error-color);
}

