.app__container {
  /* position: relative; */
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app__container-background_left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('./assets/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.app__container-background_right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__container-background_right > :first-child {
  flex: 1;
}
.app__container-background_right > :nth-child(2) {
  flex: 2;
}

.app__cards-container {
  position: relative;
  width: 50%;
  height: 50%;
}

.app__frontface_card-container,
.app__backface_card-container {
  position: absolute;
  width: 447px;
  height: 245px;
  background-repeat: no-repeat;
  background-size: contain;
}

.app__frontface_card-container {
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('./assets/bg-card-front.png');
  transform: translate(38%, -22%);
}
.app__frontface_card-container::after {
  content:'';
  position: absolute;
  top: 10%;
  left: 6%;
  width: 20%;
  height: 20%;
  background-size: contain;
  background-image: url(/src/assets/card-logo.svg);
  background-repeat: no-repeat;
}
.app__frontface_card-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.app__frontface_card-numbers {
  font-size: 27px;
  letter-spacing: 4px;
}
.app__frontface_card-content div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 1px;
}

.app__backface_card-container {
  background-image: url('./assets/bg-card-back.png');
  transform: translate(55%, 90%);
}

.app__backface_card-cvc {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  position: absolute;
  top: 45%;
  right: 13%;
}

.input__label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid #e4e4e4;
}

input:focus,
input:hover {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, var(--active-color-from), var(--active-color-to));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input:invalid {
  border: 1px solid var(--error-color);
}

.error-field {
  font-size: 12px;
  color: var(--error-color);
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  padding: 0.6rem;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  color: var(--white-color);
  background-color: var(--very-dark-gray-violet-color);
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.app__container-background_right-success_message {
  width: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #8bc34a;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: .5rem;
}

.app__container-background_right-success_message.hidden {
  visibility: hidden;
}

.tick-icon {
  fill: #fff;
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  height: 40px;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-reverse {
  -webkit-animation: slide-rev 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-rev 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-top {
  0% {
    /* -webkit-transform: translateY(-200px);
    transform: translateY(-200px); */
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* -webkit-transform: translateY(-250px);
    transform: translateY(-250px); */
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    /* -webkit-transform: translateY(-200px);
    transform: translateY(-200px); */
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* -webkit-transform: translateY(-250px);
    transform: translateY(-250px); */
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-rev {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slide-rev {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}

@media screen and (max-width: 375px) {
  .app__container {
    flex-direction: column;
  }
  .app__frontface_card-container,
  .app__backface_card-container {
    width: 264px !important;
    height: 146px !important;
  }
  .app__frontface_card-container {
    transform: translate(-28%, 32%) !important;
  }
  .app__backface_card-container {
    transform: translate(0%, -24%) !important;
  }
  .app__frontface_card-numbers {
    font-size: 12px;
  }
  .app__frontface_card-content div {
    font-size: 12px;
  }
  .app__container-background_right-success_message {
    width: auto;
    margin: .5rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .tick-icon {
    width: 32px;
    height: 32px;
  }
  
}
@media screen and (min-width: 376px) and (max-width: 550px) {
  .app__container {
    flex-direction: column;
  }
  .app__frontface_card-container,
  .app__backface_card-container {
    width: 264px !important;
    height: 146px !important;
  }
  .app__frontface_card-container {
    transform: translate(-28%, 85%) !important;
  }
  .app__backface_card-container {
    transform: translate(0%, 29%) !important;
  }
  .app__frontface_card-numbers {
    font-size: 12px;
  }
  .app__frontface_card-content div {
    font-size: 12px;
  }
  .app__container-background_right-success_message {
    width: auto;
    margin: .5rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .tick-icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  .app__container {
    flex-direction: column;
  } 
  .app__frontface_card-container,
  .app__backface_card-container {
    width: 292px !important;
    height: 160px !important;
  }
  .app__frontface_card-container {
    transform: translate(0, 100%);
  }
  .app__backface_card-container {
    transform: translate(21%, 44%);
  }
  .app__frontface_card-numbers {
    font-size: 14px;
  }
  .app__frontface_card-content div {
    font-size: 12px;
  }

  
}
@media screen and (min-width: 751px) and (max-width: 850px) {
  .app__container {
    flex-direction: column;
  } 
  .app__frontface_card-container,
  .app__backface_card-container {
    width: 380px;
    height: 209px;
  }
  .app__frontface_card-container {
    transform: translate(0, 75%);
  }
  .app__backface_card-container {
    transform: translate(21%, 19%);
  }
  .app__frontface_card-numbers {
    font-size: 22px;
  }
  
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
  .app__container {
    flex-direction: column;
  }
  /* .app__frontface_card-container,
  .app__backface_card-container {
    width: 380px;
    height: 209px;
  } */
  .app__frontface_card-container {
    transform: translate(0, 40%);
  }
  .app__backface_card-container {
    transform: translate(21%, -16%);
  }
  .app__frontface_card-numbers {
    font-size: 24px;
  }
}
/* 
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .app__container {
    flex-direction: column;
  }
  .app__frontface_card-container {
    transform: translate(0, 40%);
  }
  .app__backface_card-container {
    transform: translate(21%, -16%);
  }
  .app__frontface_card-numbers {
    font-size: 24px;
  }
} */
@media screen and (min-width: 1201px) and (max-width: 1350px) {
  .app__frontface_card-container {
  transform: translate(-15%, -22%);

  }
  .app__backface_card-container {
  transform: translate(8%, 90%);

  }
}
@media screen and (min-width: 1351px) and (max-width: 1700px) {
  /* .app__frontface_card-container,
  .app__backface_card-container {
    width: 400px;
    height: 219px;
  }
  .app__frontface_card-numbers {
    font-size: 24px;
  } */

  .app__frontface_card-container {
  transform: translate(0%, -22%);

  }
  .app__backface_card-container {
  transform: translate(23%, 90%);

  }
}
