.app__container {
  position: relative;
  display: flex;
  height: 100vh;
}

.app__container-background_left {
  flex: 1;
  background-image: url('./assets/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.app__container-background_right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__container-background_right > :first-child {
  flex: 1;
}
.app__container-background_right > :nth-child(2) {
  flex: 2;
}

.app__frontface_card-container,
.app__backface_card-container {
  position: absolute;
}

.app__frontface_card-container {
  top: 20%;
  left: 15%;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 447px;
  height: 245px;
  background-image: url('./assets/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.app__frontface_card-container::after {
  content: url('./assets/card-logo.svg');
  position: absolute;
  top: 27px;
  left: 27px;
}
.app__frontface_card-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.app__frontface_card-numbers {
  font-size: 27px;
  letter-spacing: 4px;
}
.app__frontface_card-content div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 1px;
}

.app__frontface-card-image {
  position: absolute;
}

.app__backface_card-container {
  top: 50%;
  left: 20%;
  width: 447px;
  height: 245px;
  background-image: url('./assets/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.app__backface_card-cvc {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  position: absolute;
  top: 45%;
  right: 13%;
}

.input__label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid grey;
}

input:focus,
input:hover {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, var(--active-color-from), var(--active-color-to));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input:invalid {
  border: 1px solid var(--error-color);
}

.error-field {
  font-size: 12px;
  color: var(--error-color);

}


button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  padding: 0.6rem;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  color: var(--white-color);
  background-color: var(--very-dark-gray-violet-color);
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.app__container-background_right-success_message{
  width: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #8bc34a;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.app__container-background_right-success_message.hidden{
  visibility: hidden;
}

.tick-icon {
  fill: #fff;
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  height: 40px;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-reverse {
  -webkit-animation: slide-rev 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-rev 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-rev {
  0% {
    -webkit-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
}
@keyframes slide-rev {
  0% {
    -webkit-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
}
