@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --active-color-from: hsl(249, 99%, 64%);
  --active-color-to: hsl(278, 94%, 30%);
  --error-color: hsl(0, 100%, 66%);
  --white-color: hsl(0, 0%, 100%);
  --light-gray-violet-color: hsl(270, 3%, 87%);
  --dark-gray-violet-color: hsl(279, 6%, 55%);
  --very-dark-gray-violet-color: hsl(278, 68%, 11%);
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

fieldset{
  padding: 0;
}